<h1>Welcome to Bonsais for Sale</h1>

<!-- <p>
    <%= link_to "User Login", login_path %>

    <%= link_to "User Signup", signup_path %>

    <%= link_to "New Seller", new_seller_path %>

    <%= link_to "Seller Login", login_path %>


</p> -->