<h1>You are ready to sell <%= @seller.name %></h1>

<br>
<br>
Your details are below:
<div>
    <br>
    <tr>
        <td>Name: <%= @seller.name %></td><br>
        <td>Email: <%= @seller.email_address %></td><br>
        <td>Location:<%= @seller.location %> </td><br>

    </tr>

</div>