<br>
<h1>All Users Listed Below</h1>
<br>

<table>
    <thead>
        <tr>
            <th colspan="1" width="100">Name</th>
            <th colspan="1" width="100">Username</th>
            <th colspan="1" width="100">Location</th>
            <th colspan="1" width="100">User_ID</th>
            <th colspan="4"></th>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td colspan="1" width="100"><%= user.name %></td>
            <td colspan="1" width="100"><%= user.username %></td>
            <td colspan="1" width="100"><%= user.location %> </td>
            <td colspan="1" width="100"><%= user.id %> </td>
        </tr>
        <% end %>
    </tbody>
</table>