Welcome <%= @user.username %>
<br>
<br>
Your details are below:
<div>
     <br>   
        <tr>
            <td>Name: <%= @user.name %></td><br>
            <td>Username: <%= @user.username %></td><br>
            <td>Location:<%= @user.location %> </td><br>

        </tr>
        
</div>